{% extends "::Form/bootstrap_3_layout.html.twig" %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="col-xs-3 padding-top-10">{{ form_label(form) }}</div>
        <div class="col-xs-7 margin-bottom-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{%- endblock form_row %}