<div id="popin-confirm" class="modal" role="dialog" aria-labelledby="labelledBy-popin-confirm" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <p class="h4 modal-title" id="labelledBy-popin-confirm">
                    Merci de confirmer
                </p>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Non</button>
                <a class="btn btn-danger" id="dataConfirmOK">Oui</a>
            </div>
        </div>

        <div id="confirm-overlay" style="display: none;">
            Veuillez patienter<br><br>
            <i class='fa fa-spinner fa-spin fa-4x'></i>
        </div>
    </div>
</div>