<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% block html %}
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="UTF-8"/>
                <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="Senegal Common"/>
                <meta name="keywords" content="Senegal, Common, Sénégal"/>
                <meta name="author" content="Ibrahima SOW"/>
                <meta name="robots" content="noindex,nofollow"/>
            {% endblock meta %}

            <title>{% block pageTitle %}Sénégal {% block pageSubTitle %}{% endblock %}{% endblock %}</title>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% block head_style %}
                {% stylesheets combine=true output="css/main.css" filter='less,cssrewrite'
                'css/fontawesome.css'
                'css/bootstrap.css'
                %}
                <link rel="stylesheet" href="{{ asset(asset_url)  }}" type="text/css">
                {% endstylesheets %}
            {% endblock head_style %}
        {% endblock head %}
    </head>
    <body{% block bodyAttributes %}{% endblock %}>
    {% block body %}
        {% block navbar %}{% endblock navbar %}
        {% block header %}
            <header>
                header
            </header>
        {% endblock header %}

    {% block container %}
        <div id="content_container" class="{% block container_class %}container{% endblock container_class %}">

            <div class="content">
                {% block page_header %}
                    <div class="header">
                        <div class="page-header">
                            <h1>{% block headline %}Sénégal{% endblock headline %}</h1>
                        </div>

                        {% block header_actions %}{% endblock header_actions %}
                    </div>
                {% endblock page_header %}

                {% block flash %}
                    {% include 'Form/flash_messages.html.twig' %}
                {% endblock flash %}

                {% block content_row %}
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                {% block content_content %}{% endblock content_content %}
                            </div>
                        </div>
                    {% endblock content %}
                {% endblock content_row %}
            </div>

            <footer>
                {% block footer %}{% endblock footer %}
            </footer>
        </div>
    {% endblock container %}

        {% block popin_confirm %}
            {% embed ":Components:confirm.html.twig" %}{% endembed %}
        {% endblock popin_confirm %}

    {% block foot_script %}
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.js"></script>
    {% endblock foot_script %}

    {% endblock body %}
    </body>
{% endblock html %}
</html>
