parameters:
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: noreply@profideo.com
    mailer_password: testray
    mailer_port: 465
    mailer_encryption: ssl
    mailer_auth: login
    mailer_delivery_address: exploitation@profideo.com

    #symfony conf
    locale:              fr
    secret:              testray

    #documents upload
    upload_dir:          /import/documents/
    upload_tmp_dir:      %kernel.root_dir%/../web/uploads/document/
    web_dir:             %kernel.root_dir%/../web/

    senegal_ws_url: 'http://senegal-api/ws/'
    senegal_ws_user: ???
    senegal_ws_password: ????
