# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    debug_toolbar:     true
    debug_redirects:   false
    use_assetic_controller: false
    node_bin_path: /usr/local/bin/node
    node_module_path:
        - /usr/local/lib/node_modules

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    translation_domain: back
    api_base_url: http://senegal.dev/api/
    api_login_action: login-check
    back_role_classes:
      - ADMIN: success
      - SUPER_ADMIN: info
