{% form_theme form '::Form/bootstrap_3_layout.html.twig' %}

<div class="row col-xs-9 pull-left">{{ form_widget(form.typePage, {'attr': {'class': 'multiselect'}}) }}</div>
{{ form_widget(form.allowedPageNumber, {'attr': {'class': 'form-control'}}) }}