<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="utilisateurs"><a href="#">Utilisateurs</a></li>
        <li class="dropdown contents{% if menu_active is defined and (menu_active == 'type_pages' or menu_active == 'elements') %} active{% endif %}">
            <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                Contenus <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu">
                <li class="{% if menu_active is defined and menu_active == 'type_pages' %} active{% endif %}"><a href="{{ path('senegal_back_type_pages_list') }}">Modèles de page</a></li>
                <li class="{% if menu_active is defined and menu_active == 'elements' %} active{% endif %}"><a href="{{ path('senegal_back_forfaits_list') }}">Elements</a></li>
            </ul>
        </li>
        <li class="dropdown accounts{% if menu_active is defined and (menu_active == 'users' or menu_active == 'forfaits') %} active{% endif %}">
            <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                Comptes <span class="caret"></span>
            </a>
            <ul role="menu" class="dropdown-menu">
                <li class="{% if menu_active is defined and menu_active == 'users' %} active{% endif %}"><a href="{{ path('senegal_back_users_list') }}">Utilisateurs</a></li>
                <li class="{% if menu_active is defined and menu_active == 'forfaits' %} active{% endif %}"><a href="{{ path('senegal_back_forfaits_list') }}">Forfaits</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
    </ul>
    <form role="search" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" placeholder="Search" class="form-control">
        </div>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
    </ul>
</div>